<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1">
<title>💾🌵 bins | {{ bin }}</title>
<link rel="stylesheet" href="{{ url_for("static", filename="wide-style.css") }}" type="text/css">
<link rel="stylesheet" href="{{ url_for("static", filename="colorbox.css") }}" type="text/css">
<script src="{{ url_for("static", filename="jquery-2.1.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="jquery.transit.min.js") }}"></script>
<script src="{{ url_for("static", filename="jquery.colorbox.js") }}"></script>
<!-- <script type="text/javascript" src="{{ url_for("static", filename="jquery.filedrop.js") }}"></script> -->

<!-- Fine Uploader config -->
<link href="{{ url_for("static", filename="fine-uploader/fine-uploader-new.css") }}" rel="stylesheet">
<script src="{{ url_for("static", filename="fine-uploader/fine-uploader.js") }}"></script>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>UPLOAD</div>
        </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>


<script type="text/javascript" src="{{ url_for("static", filename="jquery.lazyload.min.js") }}"></script>
<script type="text/javascript">

// function handleDrop(e) {
//   e.stopPropagation(); // Stops some browsers from redirecting.
//   e.preventDefault();

//   var files = e.dataTransfer.files;
//   for (var i = 0, f; f = files[i]; i++) {
//   	console.log(f)
//     // Read the File objects in this FileList.
//   }
// }
String.prototype.endsWith = function(suffix) {
    return this.indexOf(suffix, this.length - suffix.length) !== -1;
};

$(document).ready(function() {
	console.log("READY")
	
	$("img.lazy").lazyload({
    	threshold : 200
	});
	$(".item .title .delete").on("click", function(e) {
		return confirm("Delete?")
	})

	// $(".item .content a.img").colorbox({rel: "bincontents", transition: "none", maxWidth: "80%", maxHeight: "80%", opacity: 0.5})
	
	$(".upload-type label").click(function(e) {
		form = $(e.target).parent().find(".hidden-form")
		form.slideToggle()
	})

})

</script>
</head>
<body id="dropzone">


{% if logged_in %}
	<div id="fine-uploader">
	</div>
	<script>
		$(document)
	    var uploader = new qq.FineUploader({
	        debug: true,
	        element: document.getElementById('fine-uploader'),
	        request: {
	            endpoint: '{{ url_for('add_to_bin', bin=bin) }}'
	        },
	        retry: {
	           enableAuto: true
	        },
	        callbacks: {
	        	onAllComplete: function(succeeded, failed) {
	        		window.location.reload();
	        	}
	        }
	  
	    });

	    uploader.addExtraDropzone(document.getElementsByTagName("body")[0])

	</script>	
{% endif %}

<h1><img src="{{ url_for("static", filename="bins.png") }}" id="logo" ><a href="{{ url_for("index") }}">bins</a> / {{ bin }}</h1>


<img src="http://diskcact.us/img/rainbow-hr.gif" class="hr">
<div id="files_container">
    {% for file in files %}
    <div class="item{% if file[0].endswith("url") %} link {% elif file[1] == '#image' %} image {% elif file[1] %} textblock {% endif %}">
    	{% if file[0].endswith(".url") %}
	    	<div class="title link">
	    		<a href="{{ file[1] }}" target="_blank">{{ file[0] }}</a>{% if logged_in %}<a href="{{ url_for("delete_file", bin=bin, file=file[0]) }}" class="delete">x</a>{% endif %}
	    	</div>
    	{% else %}

	    	<div class="title">
	    		<a href="{{ url_for("get_file", bin=bin, file=file[0]) }}" target="_blank">{{ file[0] }}</a>{% if logged_in %}<a href="{{ url_for("delete_file", bin=bin, file=file[0]) }}" class="delete">x</a>{% endif %}
	    	</div>
	    	
	    	{% if file[1] == "#image" %}
	    		<div class="content img">
	        	<a href="{{ url_for("get_file", bin=bin, file=file[0]) }}"  target="_blank" class="img"><img class="lazy" data-original="{{ url_for("get_file", bin=bin, file=file[0]) }}"></a>
	        	</div>

	        {% elif file[1] == "#video" %}
	    		<div class="content img">
	        	<a href="{{ url_for("get_file", bin=bin, file=file[0]) }}"  target="_blank" class="img"><img class="lazy" data-original="{{ file[2] }}"></a>
	        	</div>

	        {% elif file[1] %}
	        	<div class="content textblock">
	        	<div class="textblock">{{ file[1] }}</div>
	        	</div>
	        {% else %}
	        	<!-- <a href="{{ url_for("view_file", bin=bin, file=file[0]) }}">{{ file[0] }}</a> -->
	        {% endif %}
	    {% endif %}
    </div>
    {% endfor %}
</div>


{% if logged_in %}
<div id="upload">
	<div class="upload-type" id="upload-file">
		<form action="{{ url_for('add_to_bin', bin=bin) }}" enctype="multipart/form-data" method="POST">
			<label for="file">Upload File</label>
			<div class="hidden-form" id="upload-form">
				<input type="file" name="file">
				<br>
				<input type="submit" value="OK">
			</div>
		</form>
	</div>
	<div class="upload-type" id="upload-text">
		<form action="{{ url_for('add_to_bin', bin=bin) }}" method="POST">
			<label for="name">Add Text</label>
			<div class="hidden-form" id="addtext-form">
				<input type="text" name="name" value="filename.txt">
				<br>
				<textarea name="text"></textarea>
				<br>
				<input type="submit" value="OK">
			</div>
		</form>
	</div>
	<div class="upload-type" id="upload-link">
		<form action="{{ url_for('add_to_bin', bin=bin) }}" method="POST">
			<label for="name">Add Link</label>
			<div class="hidden-form" id="addtext-form">
				<input type="text" name="name" value="title.url">
				<input type="text" style="width: 400px; text-align: left;" name="url" value="http://">
				<input type="submit" value="OK">
			</div>
		</form>
	</div>	
	
</div>
{% else %}
<!-- <a href="{{ url_for('login') }}">log in</a> -->
{% endif %}

</body>